* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;
}
body img.fixed-image {
  min-width: 100%;
  position: fixed;
  width: 100%;
  z-index: -10;
  bottom: 0;
  top: 0;
}
body header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  box-shadow: 0 10px 6px -6px #777;
}
body header section.logo {
  display: flex;
  flex: 2 1 400px;
  align-items: center;
}
body header section.logo img {
  width: 6vw;
  height: 6vw;
}
body header section.logo h1 {
  font-size: 2.5rem;
  cursor: default;
}
body header nav {
  flex: 5 1 500px;
  border-left: 2px solid black;
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
body header nav a {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
body header nav a:hover {
  color: pink;
  border-bottom: 3px solid pink;
  padding-bottom: 0.01rem;
}
body main section.background-image {
  min-height: 70vh;
  background-image: url("../images/holland1.jpeg");
  background-size: cover;
  background-position: 68% 68%;
  transition: all 0.75s ease;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body main section.background-image div.filter {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  min-height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body main section.background-image h3 {
  font-size: 2.5rem;
  color: white;
  cursor: default;
}
body main section.info-circle {
  background-color: white;
  padding: 1.5rem;
}
body main section.info-circle h3 {
  font-size: 4rem;
  text-align: center;
  color: black;
  cursor: default;
}
body main section.info-circle div.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 0.5rem;
}
body main section.info-circle p {
  text-align: center;
  font-size: 1.25rem;
  cursor: default;
}
body main section.info-circle img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  padding: 0.3rem;
  cursor: pointer;
}
body main section.info-circle img:hover {
  border: 3px solid pink;
}
body main section.empty-container {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.empty-container h3 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  cursor: default;
}
body main section.google-map {
  min-height: 6%;
  width: 100%;
  background-color: white;
  padding: 0.75rem;
}
body main section.google-map section.Taiwan-flag-group {
  display: flex;
}
body main section.google-map h3 {
  font-size: 2rem;
  text-align: center;
  cursor: default;
}
body main section.google-map iframe {
  min-height: 60vh;
  width: 100%;
}
body footer {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
body footer section.logo img {
  width: 30vw;
  height: 30vw;
  padding-bottom: 0;
}
body footer section.logo h3 {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  padding-left: 3rem;
  cursor: default;
}
body footer section.social-media {
  margin-top: 2rem;
  align-items: center;
}
body footer section.social-media a {
  padding-left: 3rem;
  padding-bottom: 3rem;
}
body footer section.social-media a img {
  width: 10%;
  margin: 0rem 1rem;
}
body footer section.social-media a img.youtube {
  padding-bottom: 0.35rem;
}

@media screen and (max-width: 900px) {
  body header section.logo {
    flex-direction: column;
  }
  body header section.logo img {
    width: 50%;
    height: 50%;
  }
  body header nav ul {
    flex-direction: column;
  }
  body header nav ul li {
    padding: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */