@font-face {
    font-family: "myfont";
    src: url(./fontfamily/JasonHandwriting4.ttf);
  }

/*套用全部的格式(字體)*/
* {
    font-family: "myfont", DFkai-sb, sans-serif;
}

body {
    font-family: 'JasonHandwriting4.ttf';
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden; 
}

/* nav bar的樣式 */
.container {
    padding: 0.5rem;
    margin: 0;
    background-color: #FFF4D9;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);     
    
}

h1, h2, h3 {
    color: #000000;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 10px;

}

.header h1 {
    margin: 0;
    text-align: left;
    font-size: 2em;
}

.header .nav-a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* nav bar的anchor tag們 */
.header .nav-a a{
    margin-left: 15px;
    color: #000000;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text */
    text-decoration: none;
}

.header .nav-a a:hover {
    color: #ff914d;
}


.header .nav-a a span {
    font-style: italic;
    font-size: 1rem; 
}

/*幻燈片設置*/
.slideshow {
    position: relative;
    transition: 2s;
    user-select: none;
    margin-bottom: 2rem;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
}

.slideshow img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    vertical-align: middle;
    transition: 0.5s;
    opacity: 80%;
  }

.slideshow img:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }
  
  .slide__item {
    display: none;
    position: relative;
    overflow: hidden;
  }
  .slide__pagenumber {
    padding: 10px;
    border-radius: 80% 30% / 80% 50%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .slide__content {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    padding: 0 10px;
    border-radius: 5px;
  }
  .slide__arraw {
    padding: 20px;
    position: absolute;
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  .slide__arraw:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.6 ease;
  }
  .slide__arraw--prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .slide__arraw--next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .slide__dot {
    padding: 5px 5px;
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  .active,
  .dot:hover {
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
  }
  
  .fades {
    animation: 1.5s fades;
  }
  @keyframes fades {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }



/*我們的服務大區塊*/
.OurServiceTitle-container {
    text-align: center; /* 文字居中 */
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

/* "我們的服務"文字 */
.OurServiceTitle-container h2 {
    font-size: 2rem;
    font-weight: bold; /* 字體粗體 */
    margin: 0;
    width: 50%;
}

/* 我們的服務文字兩旁的線 */
.OurServiceTitle-container div.line{
    border: 2px solid #000000;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 0.8rem;
}


.services-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
}

.service-card {
    width: 30%;
    padding: 0;
    border-radius: 8px;
}

.service-card img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
        
.service-card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.service-card p {
    font-weight: bold;
    font-size: 1.2rem;
}
         
.service-card a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.service-card a:hover{
    background-color: #0056b3;
}

/*Believe大區塊*/
.believeV-section {
    padding: 20px;
    padding-top: 15px;
    background-color: #FDE2DC;
    margin-bottom: 30px;
    border-radius: 8px;
    margin:10px;
}

.BelieveVtitle {
    text-align: left;
    font-size: 36px;
    color: #A825AB;
    margin-bottom: 20px;
    margin-top: 0;
}


.grid {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: #d3d3d3; /* Placeholder for the image */
}

.card .text {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

/* 推薦學校和科系區塊 */
.recommend-section {
    margin-bottom: 30px;
}

/* "推薦學校和科系"文字 */
.recommend-section h2{
    margin-bottom: 0;
    font-size: 2rem;
}

/* 推薦學校和科系-表格區塊 */
.recommend-section table{
    align-items: center;
    justify-content: center;
    width: 95%;
    border-collapse: collapse;
    margin: 1rem 2rem 3rem 2rem;
}

/* 推薦學校和科系-表格資料 */
.recommend-section th,
.recommend-section td {
    border: 1px solid #ddd;
    padding: 10px 0px 10px 10px;
    text-align: left;
}

/* 推薦學校和科系-表格標題 */
.recommend-section th{
    background-color: #f9f9f9;
}

/* 常見Q&A區塊 */ 
.faq-section {
    background-color: #e3f2fd;
    padding: 15px 20px 20px 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    margin:10px;
}

/* 常見Q&A區塊-"常見Q&A title"區塊 */
.faq-section div.QAtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 常見Q&A區塊-"常見Q&A icon"大小設定 */
.faq-section div img {
    width: 3rem;
    height: 3rem;
    padding-right: 5px;
}

/* 常見Q&A區塊-"常見Q&A"文字 */
.faq-section h2 {
    color: #007bff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

/* 常見Q&A區塊-各Q&A區塊 */
.faq-section .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    cursor: pointer;
}

/* 常見Q&A區塊-各Q&A的"A" */
.faq-section .faq-item p {
    line-height: 1.5;
    padding: 10px 0 0 15px;
    display: none;
    cursor: default;
}

/* 常見Q&A區塊-各Q&A的"A" */
.faq-section .faq-item.active p{
    display: block;
}

/* 常見Q&A區塊-各Q&A的"Q" */
.faq-section .faq-item h3 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 常見Q&A區塊-Q&A的展開icon */
.faq-section .faq-item h3 span {
    font-size: 1.5em;
}

/* 常見Q&A區塊-Q&A的展開icon-確保這個樣式是最具體的，且不會被其他樣式覆蓋 */
.faq-item.active .toggle-icon {
    color: #000000; /* 或指定您想要的顏色 */
  }
      
/* 取得更多資訊區塊 */ 
.form-section {
    margin-bottom: 30px;
}

/* 取得更多資訊區塊-"取得更多資訊"h2文字 */ 
.form-section h2{
    text-align: left;
    color: #000000;
    margin: 1rem;
    font-size: 2rem;
    cursor: default;
}

/*取得更多資訊區塊-"個人資訊" h3文字*/ 
.form-section h3{
    color: #000000;
    text-align: left;
    margin: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    cursor: default;
}

/*取得更多資訊區塊-"個人資訊" 輸入格提示文字顏色*/ 
input::placeholder {
  color: #1c6c95;
  font-style: italic;
}

/*取得更多資訊-表格欄位區塊*/ 
.form-section form {
    margin: 10px;
    padding-left: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-section .input-group {
    width: 48%;
    margin-bottom: 10px;
}

/*取得更多資訊-表格欄位名稱*/ 
.form-section .input-group label{
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

/*取得更多資訊-表格輸入框區塊*/ 
.form-section .input-group input{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #D9D9D9;
}

/*取得更多資訊-表格checkbox*/ 
.form-section form input[type="checkbox"]{
    width: auto;
    display: inline-block;
}

/*取得更多資訊-表格checkbox區塊*/  
.form-section form .checkbox-group{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/*取得更多資訊-表格checkbox-個資法條例文字*/
.form-section form .checkbox-group label{
    display: inline-block;
    margin-left: 5px;
    margin-top: 0.5rem;
}

/*取得更多資料的提交按鈕*/ 
.form-section form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    margin-left: 91%;
}

/*取得更多資料-提交按鈕-懸浮特效*/    
.form-section form button:hover{
    background-color: #0056b3;
}

/*聯絡方式Contact Us區塊設定*/
.contact-section {
    background-color: #FFF4D9;
    padding: 0.5rem 1rem 1rem 1rem;
    text-align: center;     
}
    
/*聯絡方式- "Contact Us"文字大小和顏色和margin*/
.contact-section h2 {
    color: #e65100;
    font-size: 40px;
    margin: 0px 20px 0 20px;
    cursor: default;
}

/*聯絡方式所有p tag的文字大小和顏色*/
.contact-section p {
    font-size: 1.2rem;
    line-height: 0.5;
    cursor: default;
}

/*聯絡方式Email文字大小和顏色*/
.contact-section a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

/*聯絡方式的Email懸浮特效*/
.contact-section a:hover {
    text-decoration: underline;
}

/*聯絡方式的Email懸浮特效*/
.contact-section .socials {
    margin-top: 15px;
}

/*社群軟體icon的文字大小*/
.contact-section .socials a{
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

/*社群軟體icon的懸浮特效*/
.contact-section .socials a:hover {
    text-decoration: underline;
}

/*社群軟體icon的圖片大小*/
.contact-section .socials img {
    width: 30px;
    margin: 0 5px;
}

/*保留權利區塊之設定*/
.footer {
    text-align: center;
    padding: 0;   
    }

/*保留權利那句話之設定*/
.footer p{
    margin: 0.5rem 0.5rem 0.5rem 0;
    cursor: default;
}

.footer div.Copyright{
    cursor: default;
}