* {
  background-color: white;
}

.companytitle {
  color: aqua;
}

* {
  box-sizing: border-box;
}

.bodycss {
  margin: 0%;
}

.box {
  height: 40px;
  background-color: lightskyblue;
  position: sticky;
  top: 10px;
}

*input [type="text"]:active {
  color: pink;
}
h2 {
  color: purple;
}

div.link1 table,
th,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
